<p id="notice"><%= notice %></p>

<h1>Userbooks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userbooks.each do |userbook| %>
      <tr>
        <td><%= User.where(id: userbook.user_id).last.username %></td>
        <td><%= Book.where(id: userbook.book_id).last.title %></td>
        <td><%= link_to 'Show', userbook %></td>
        <td><%= link_to 'Edit', edit_userbook_path(userbook) %></td>
        <td><%= link_to 'Destroy', userbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userbook', new_userbook_path %> |
<%= link_to 'User Index', users_path %> |
<%= link_to 'Book Index', books_path %>
