<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Book:</strong>
  <%= @book.title %>
</p>

<%= link_to 'Edit', edit_userbook_path(@userbook) %> |
<%= link_to 'Back', userbooks_path %>
